<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link href="/index.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAvIL2g56oknkfO5zsVPL5JZQvebfvl7tI&sensor=false">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
    <script src="/apartment.js"></script>
    <script src="/app.js"></script>
  </head>
  <body>
    <div id="filters">
      <div class="filter">
        price:
        <span id='price-range' ></span>
        <div id='price-slider' class='filter-slide'></div>
      </div>

      <div class="filter">
        beds:
        <span id='beds-range' ></span>
        <div id='beds-slider'class='filter-slide'></div>
      </div>

      <div class="hidden">
        <input id="min-price-input" />
        <input id="max-price-input" />
        <input id="min-beds-input" />
        <input id="max-beds-input" />
      </div>

      <button id="filter" type="button" >Filter!</button>
    </div>
    <div id="map_canvas"></div>
  </body>
</html>
