html {
  height: 100%;
}

body {
  height: 100%;
  background-color: black;
}

#map_canvas {
  height: 750px;
  width: 750px;
  float: left;
  margin: 5px;
}

#filters {
  background-color: #2B2B2B;
  width: 300px;
  height: 750px;
  margin: 5px;
  float: left;
  color: white;
  -webkit-border-radius: 10px;
}

.hidden {
  display: none;
}
